.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  overflow: hidden;
}

.container.with-head {
  padding-top: var(--space-with-head);
}

/* 模拟field label 样式 使表单样式统一 */
.field-label {
  color: var(--van-field-label-color)
}

.mt12 {
  margin-top: 12px;
}